<?xml version="1.0" encoding="utf-8"?>
<config>
	<features>
		<audio>true</audio>
		<menu>true</menu>
		<glossary>true</glossary>
		<print>true</print>
		<resources>true</resources>
		<reload>true</reload>
	</features>
	<location>
		<UIComponent>UIComponents/</UIComponent>
		<mediaPath>Media/</mediaPath>
		<templatePath>Templates/</templatePath>
		<dataPath>Data/</dataPath>
		<audioPath>Audio/</audioPath>
		<videoPath>Video/</videoPath>
		<agentPath>Agent/</agentPath>
	</location>
	<settings>
		<!-- 	SCORM   /   MINILMS   /    CD -->
		<lms></lms>
		<debugger>true</debugger>
		<defaultLanguage>eng</defaultLanguage>
	</settings>
</config>