<!-- template 1  -->
<!-- <div class="row tpad15p">
	<div class="large-4 columns large-push-1">
		<img src="http://placehold.it/300x200&amp;text=[ Image ]">
	</div>
	<div class="large-5 columns large-pull-2">
		<div class="row content-title">
			<div class="large-12 columns">Welcome!</div>
		</div>
		<div class="row content">{{{instruction._cdata}}}
		</div>
	</div>
</div> -->
<!-- template 2  -->
<!-- <div class="row tpad15p">
	<div class="large-6  large-push-1 columns">
		<div class="row content-title">
			<div class="large-12 columns">Welcome!</div>
		</div>
		<div class="row content">{{{instruction._cdata}}}
		</div>
	</div>
	<div class="large-4 columns  large-pull-1 ">
		<img src="http://placehold.it/300x200&amp;text=[ Image ]">
	</div>
</div> -->

<!-- template 3  -->
<div class="row tpad15p">
	<div class="large-4 columns large-push-1">
		<img src="http://placehold.it/300x200&amp;text=[ Image ]">
	</div>
	<div class="large-5 columns large-pull-2">
		<div class="row content-title">
			<div class="large-12 columns">Welcome!</div>
		</div>
		<div class="row content"><p>{{{instruction._cdata}}}</p></div>
	</div>
	
</div>
<div class="row">
	<div class="large-6	columns bred large-push-1">msikwal
</div></div>

