<div class="row">
	<div class="large-9 small-9 columns">
		<div class="panel">
			<h1>{{QuestionOfEthics}}</h1>

			<table>
				<tr>
					{{#users.person}}
					<td>
						<table border="4">
							<tr>
								<td><img src={{this.image}} /></td>
							</tr>
							<tr>
								<td>{{this.information}}</td>
							</tr>
						</table>
					</td> {{/users.person}}
				</tr>
			</table>


		</div>
	</div>


	<div class="large-3 small-3 columns">
		<div class="panel">
			<h1>{{questionHeader}}</h1>
			<p>{{questionText}}</p>
			{{#options.value}} 
				<input type="radio" name={{this.optionValue}}
					value={{this.optionValue}} /> {{this.optionDisplay}}<br />
			{{/options.value}}
		</div>
	</div>

</div>