{{#with content.[0]}}
<div class="row tpad10p bpad5p ">
	<div class="large-8  small-12 columns" >
		<div class="row content-title" style="{{body.[0].title.[0]._style}}"><div class="large-12 small-12 columns">{{{title.[0]._cdata}}}</div></div>
		<div class="row content-background" style="{{body.[0]._style}}">
			<div class="large-12 small-12 columns">
			<p style="{{body.[0].detailMessage.[0]._style}}">{{{body.[0].detailMessage.[0]._cdata}}}</p>
			{{#body.[0].bullets.[0].bullet}}
			<ul class="iconlist" >
				<li class="bulletStyle" style="{{this._style}}">{{{this.value.[0]._cdata}}}</li>
				<ul class="iconlist" >
					{{#this.subBullets}} {{#this.subBullet}}
						<li class="subBulletStyle" style="{{this._style}}">{{{this._cdata}}}</li>
					{{/this.subBullet}} {{/this.subBullets}}
				</ul>
			</ul>
			{{/body.[0].bullets.[0].bullet}}
			</div>
		</div>
	</div>
	<div class=" large-4 small-12 columns right-content">
		<p class="image-border" style="{{image.[0]._style}}"><img src={{image.[0]._text}} /></p>
	</div>
</div>
{{/with}}

