<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">

</style>
</head>
<body>
<div class="row tpad10p">
	<div class="large-12 small-12 columns">
		<div class="large-8 small-6 columns">
			<div>
				<table style="width: 100%;">
					<tr>
						<td>
							<h1 style="color: silver; background: green;">{{title}}</h1>

							<p>{{detailMessage}}</p>
							{{#bullets.bullet}}
							<ul class="iconlist">
								<li class="bulletStyle">
									{{this.value}}</li>
									<ul class="iconlist">
										{{#this.subBullets}} 
											{{#this.subBullet}}
											<li class="subBulletStyle">{{this}}</li> 
											{{/this.subBullet}}
										{{/this.subBullets}}
									</ul>
								
							</ul> 
							{{/bullets.bullet}}
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="large-4 small-6 columns">
			<table>
				<tr>
					<td><img src={{image}} /></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</body>
</html>