<div class="row tpad10p rpad5p lpad5p ">
<div class="row">
	{{#each this.tabImage}}
	<div class="small-4 columns h_imgicon" data="test_c{{this._tab_id}}">
		<div class="panel">
			<h4>{{{this.title._cdata}}}</h4>
			<p>
				<img src="http://placehold.it/400x300" /> 
			</p>
		</div>
	</div>
	<div class="test_c{{this._tab_id}} hide">{{{this.popupText.Text._cdata}}}</div>
	{{/each}}
</div>
</div>
<script>
			$(".h_imgicon").hover(
			function() {
				$(this).append(
						"<span>" + $('.' + $(this).attr('data')).html()
								+ "</span>");
			}, function() {
				$(this).find("span:last").remove();
			});
</script>