{{#with content.[0]}}
<div class="row ">
	<div class="medium-12 columns content-title">
		<h4 style="{{this.Text1.[0]._style}}">{{{this.Text1.[0]._cdata}}}</h4>
	</div>

	{{#each this.tabImage}}
	<div class="medium-4 columns h_imgicon" data="test_c{{this._tab_id}}">
		<div class="panel">
			<h4 style="{{this.title._style}}">{{{this.title._cdata}}}</h4>
			<p>
				<img src={{image.[0]._text}}  class="mine"/> 
			</p>
		</div>
	</div>
	<div class="test_c{{this._tab_id}} hide" style="{{this.popupText.[0].Text.[0]._style}}">{{{this.popupText.[0].Text.[0]._cdata}}}</div>
	{{/each}}
	
	<div class="medium-12 columns content-title" style="{{this.Text2.[0]._style}}">
		{{{this.Text2.[0]._cdata}}}
	</div>
</div>
{{/with}}

<script>
			$(".h_imgicon").on('m click',
			function() {
				var sAttr = $('.' + $(this).attr('data')).attr('style');
				$('.hover-content').remove();
				$(this).append(
						"<span class='hover-content' style="+sAttr+">" + $('.' + $(this).attr('data')).html()
								+ "</span>");
			});
			
			
</script>
