{{#with content.[0]}}
<div class="row tpad10p bpad5p">
	<div class="large-4 columns left-content">
		<div class="row ">
			<div class="large-12 columns">
				<img src={{image.[0]._text}} class="image-border"/>
			</div>
		</div>
	</div>

	<div class="large-8 columns">
		<div class="row">
			<div class="large-12 columns">
				<div class="content-title row">
					<div class="large-12 columns" style="{{title.[0]._style}}">{{{title.[0]._cdata}}}</div>
				</div>
				<div class="content-background row" style="{{texts.[0]._style}}">
					<div class="large-12 columns" >
						{{#texts.[0].text}}
						<p style="{{this._style}}">{{{this._cdata}}}</p>
						{{/texts.[0].text}}
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{{/with}}
