<div class="row tpad10p bpad5p">
	{{#with content.[0]}}
	<div class="small-4 columns"
		style="padding-right: 0px;">
		<div class="tpad5p "
			style="background-color: #e70b65; color: #fff; padding: 10px;">
			<div>
				<span class="question-logo" style="{{logo.[0]._style}}">{{{logo.[0]._cdata}}}</span> <b>{{{title.[0]._cdata}}}</b>
			</div>
			<div>
				<p>{{{information.[0]._cdata}}}</p>
			</div>
			<div>
				<p>{{{questionText.[0]._cdata}}}</p>
			</div>

		</div>
	</div>
	{{/with}}
	{{#with question.[0]}}
	<div class="large-8 small-8 columns" style="">

		<div class="tpad5p"
			style="padding-top: 0px; border: 1px solid; padding-left: 10px;">




			<div style="padding-top: 10px; padding-bottom: 10px;">{{{questionHeader.[0]._cdata}}}</div>
			<div class="error hide red"></div>
			<div>
				{{#options.[0].value}}
				<div>
					<input type="radio" class="option" name="saq"
						value={{this.optionValue}} /> {{{this.optionDisplay.[0]._cdata}}}
				</div>
				{{/options.[0].value}}
			</div>
			<div style="text-align: right; padding-right: 10px;">
				<button class="btnSubmit" style="{{submitButton.[0]._style}}">{{submitButton.[0]._text}}</button>
			</div>

		</div>
	</div>
	{{/with}}
</div>

<input type="hidden" name="c_answer" id="c_answer" value={{correctAnswer}}>

<div class="row feedback-container" style="display: none;">
	<div class="large-12 small-12 columns  ">
			<table style="width: 100%">
				<tr>
					<td>
						<p>{{feedback.[0].feedbackTitle.[0]._cdata}}</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="rfeedbackContent"></div>
					</td>
				</tr>
			</table>
	</div>
</div>


