<!-- <div class="row tpad10p bred rpad5p lpad5p">
	<div class="small-8 columns">
		<div style="height: 100%">
			<h1 style="background-color: olive;">{{QuestionOfEthics}}</h1>
			<table style="width: 100%; height: 100%">
				<tr>
					{{#Scenarios.Scenario}}
					<td>
						<table>
							<tr>
								<td><img src={{this.image}} /></td>
							</tr>
							<tr>
								<td>{{this.information}}</td>
							</tr>
						</table>
					</td> {{/Scenarios.Scenario}}
				</tr>
			</table>
		</div>
	</div>
	<div class="small-4 columns" style="padding-right: 5%; padding-left: 0%">
		<div style="background-color: white;">
			<h1  style="background-color: olive;">{{questionHeader}}</h1>
			<p style="padding-left: 23px;">{{questionText}}</p>
			{{#options.value}} 
				<input type="checkbox" name={{this.optionValue}}
					value={{this.optionValue}} /> {{this.optionDisplay}}<br />
			{{/options.value}}
			<div align="right">
				<button onclick="JavaScript:alert('Well done!')">Submit!</button>
			</div>
		</div>
	</div>

</div>
 -->


<div class="row tpad10p  rpad5p lpad5p">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-9 columns">
				<h1 style="background-color: olive;">{{QuestionOfEthics}}</h1>
			</div>
			<div class="small-3 columns">
				<h1 style="background-color: olive;">{{questionHeader}}</h1>
			</div>
		</div>
	</div>
	<div class="small-12 columns ">
		<div class="row">
			{{#Scenarios.Scenario}}
			<div class="small-3 columns">
				<img src={{this.image}} />
				<p>{{this.information}}</p>
			</div>
			{{/Scenarios.Scenario}}
			<div class="small-3 columns">
				<p>{{questionText}}</p>
				{{#options.value}} <input type="checkbox" name={{this.optionValue}}
					value={{this.optionValue}} /> {{this.optionDisplay}}<br />
				{{/options.value}}
				<div align="right">
					<button onclick="JavaScript:alert('Well done!')">Submit!</button>
				</div>
			</div>
		</div>
	</div>
</div>