<div class="row tpad10p  rpad5p lpad5p">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-9 columns">
				<h1 style="background-color: olive;">{{QuestionOfEthics}}</h1>
			</div>
			<div class="small-3 columns">
				<h1 style="background-color: olive;">{{questionHeader}}</h1>
			</div>
		</div>
	</div>
	<div class="small-12 columns ">
		<div class="row">
			{{#Scenarios.Scenario}}
			<div class="small-3 columns">
				<img src={{this.image}} />
				<p>{{this.information}}</p>
			</div>
			
			{{/Scenarios.Scenario}}
			<div class="small-3 columns">
				<p>{{questionText}}</p>
				<div class="error hide1 red"></div><br>
				{{#options.value}} <input type="checkbox" class="option"  name="mcq"
					value={{this.optionValue}} /> {{this.optionDisplay}}<br />
				{{/options.value}}
				<div align="right">
					<button class="btnSubmit">Submit!</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
   /*  
	}); */
</script>