<div class="row tpad10p bpad5p">
	{{#with content.[0]}}
	<div class="large-4 columns" style="padding-right: 0px; padding-left: 0px;">
		<div class="tpad5p question-body" style="{{this._style}}">
			<div>
				<span class="question-logo" style="{{logo.[0]._style}}">{{{logo.[0]._cdata}}}</span><span style="{{title.[0]._style}}"><b>{{{title.[0]._cdata}}}</span></b>
			</div>
			<div style="{{information.[0]._style}}">
				<p>{{{information.[0]._cdata}}}</p>
			</div>
			<div style="{{questionText.[0]._style}}">
				<p>{{{questionText.[0]._cdata}}}</p>
			</div>

		</div>
	</div>
	{{/with}} {{#with question.[0]}}
	<div class="large-8 large-8 columns right-content" style="padding-right:0px;">

		<div class="tpad5p question-options rpad10px" style="{{this._style}}">
			<div class="question-instruction-text" style="{{questionHeader.[0]._style}}">{{{questionHeader.[0]._cdata}}}</div>
			<div class="error hide red"></div>
			<div>
				{{#options.[0].value}}
				<div class="question-option" style="{{this._style}}">
					<div style="width:5%;"><input type="checkbox" class="option" name="saq"
						value={{this.optionValue.[0]._text}} /></div><div style="width:95%;"> {{{this.optionDisplay.[0]._cdata}}}</div>
				</div>
				{{/options.[0].value}}
			</div>
			<div class="question-submit-button">
				<button class="btnSubmit" style="{{submitButton.[0]._style}}">{{submitButton.[0]._text}}</button>
			</div>

		</div>
	</div>
	{{/with}}

</div>
<input type="hidden" name="c_answer" id="c_answer" value={{correctAnswer}}>

<div class="row feedback-container" style="display: none;">
	<div class="large-12 large-12 columns  ">
			<table style="width: 100%">
				<tr>
					<td>
						<p>{{feedback.[0].feedbackTitle.[0]._cdata}}</p>
					</td>
				</tr>
				<tr>
					<td>
						<div class="rfeedbackContent"></div>
					</td>
				</tr>
			</table>
	</div>
</div>
