<div class="row tpad10p  rpad5p lpad5p">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-9 columns">
				<h1 style="background-color: olive;">{{QuestionOfEthics}}</h1>
			</div>
			<div class="small-3 columns">
				<h1 style="background-color: olive;">{{questionHeader}}</h1>
			</div>
		</div>
	</div>
	<div class="small-12 columns ">
		<div class="row">
			{{#Scenarios.Scenario}}
			<div class="small-3 columns">
				<img src={{this.image}} />
				<p>{{this.information}}</p>
			</div>
			
			{{/Scenarios.Scenario}}
			<div class="small-3 columns">
				<p>{{questionText}}</p>
				<div class="error hide1 red"></div>
				{{#options.value}} <input type="checkbox" id="mcq_question"  name="mcq_question"
					value={{this.optionValue}} /> {{this.optionDisplay}}<br />
				{{/options.value}}
				<div align="right">
					<button class="mcq_submit">Submit!</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    $('.template-conatiner .mcq_submit').click(function () {
    	var c_flag = false;
    	$("input[name='mcq_question']:checked").each(function() { 
    		c_flag = true;   
    	});
    	if(c_flag===true){
    		Engine.showNextPage();
    	}else{
    		$(".error").html("Please select atleast one option.").slideDown();
    	}
	});
</script>