<div class="row row2 tpad10p bpad5p" >
	<div class="small-12 columns content-title" style="{{title.[0]._style}}">
		<div>{{{title.[0]._cdata}}}</div>
	</div>
	<div class="small-12 columns content-background" >
		{{#bullets.[0].bullet}}
		<ul class="iconlist">
			<li class="bulletStyle">{{{this.value.[0]._cdata}}}</li>
			<ul class="iconlist">
				{{#this.subBullets}} {{#this.subBullet}}
				<li class="subBulletStyle">{{{this._cdata}}}</li>
				{{/this.subBullet}} {{/this.subBullets}}
			</ul>
		</ul>
		{{/bullets.[0].bullet}}
		<div class="small-12 ">
			{{#texts.[0].text}}
			<p>{{{this._cdata}}}</p>
			{{/texts.[0].text}}
		</div>
	</div>
	<div class="small-12 column columns content-background">
		{{#Scenarios.[0].Scenario}}
		<div class="small-6 column">
			<div class="image-border" style="{{this.image._style}}"><img src={{this.image}} /></div>
			<p>{{{this.information.[0]._cdata}}}</p>
		</div>

		{{/Scenarios.[0].Scenario}}
	</div>
</div>
