<div class="row tpad10p">
	{{#each group}} {{#if this.Contents.[0]}}
	<div class="small-4 columns small-push-1" style="height: 100%;">
			<h4>{{{this.Contents.title._cdata}}}</h4>
			{{#each Contents.[0].bullets.[0].bullet}}
			<ul>
				<li>{{this.value}}
					<ul>
						{{#this.subBullets}} {{#this.subBullet}}
						<li>{{this}}</li> {{/this.subBullet}} {{/this.subBullets}}
					</ul>
				</li>
			</ul>
			{{/each}}
	</div>
	{{/if}} {{#if this.tabImage}}

	<div class="small-8 columns small-pull-1 " style="height: 100%;">
		<h4>select each panel</h4>
		<div class="row">
			{{#each this.tabImage}}
			<div class="small-4 columns imgicon" data="img_icon_{{this._tab_id}}">
				<div class="panel">
					<h4>{{{this.title._cdata}}}</h4>
					<p>
						<img src="http://placehold.it/400x300" />
					</p>
				</div>
			</div>
			{{/each}}
		</div>

		
			{{#each this.tabImage}}
			<div class="row hide img_icon_text  img_icon_text_{{this._tab_id}}" data="img_icon_text_{{this._tab_id}}">
			<div class="small-4 columns"  >
				<div class="panel">
					<h4>{{{this.title._cdata}}} </h4>
					<p>
						<img src="http://placehold.it/200x200" />
					</p>
				</div>
			</div>
			<div class="small-8 columns ">
				
				<div class="panel">
					<a class="close-reveal-modal  img_icon_text_box right">close</a>
					{{#each popupText.Text}}
					<p>{{{this._cdata}}}</p>
					{{/each}}
				</div>
			</div>
			</div>
			{{/each}}
		

	</div>

	{{/if}} {{/each}}
</div>
<script>
$('.template-conatiner .imgicon').click(function () {
		var index = $(this).attr('data').split("_").pop();
        $('.imgicon').addClass('hide');
        $('.img_icon_text_'+index).removeClass('hide');
});
$('.template-conatiner .img_icon_text_box').click(function () {
        $('.imgicon').removeClass('hide');
        $('.img_icon_text').addClass('hide');
});
</script>


