.course-header {
	text-transform: uppercase;
	line-height: 73px;
	color: white;
	height: 74px;
	font-weight: bold;
}

.course-header>div {
	float: left;
	display: block;
}

.course-title {
	padding-left: 15px;
}

.course-logo {
	padding-right: 15px;
}

.course-close {
	padding-left: 15px;
	padding-right: 15px;
}

.footer-menu {
	padding-top: 15px;
	text-align: center;
}

.footer-menu a {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

.dummy-row {
	background: #074e68;;
	height: 10px;
}

.template-conatiner {
	min-height: 600px;
	border-left: solid 1px;
	border-right: solid 1px;
	color: rgb(0, 116, 145);
}

.pagination {
	color: black;
	font-weight: bold;
	text-align: right;
}

.pagination-pad {
	padding-top: 10px;
}

.adjust-center {
	margin-left: -15px;
}

.menu-panel {
	display: none;
}

.breadcrumbs {
	margin: 0px !important;
	border: 0px !important;
	border-radius: 0px;
	padding: 4px !important;
	padding-left: 20px !important;
	font-weight: bold;
}

.breadcrumbs span {
	color: black;
	font-size: 14px;
	text-transform: none;
}

.breadcrumbs>*:before {
	content: '>>';
	color: black;
	font-size: 14px
}

.accordion li{
	cursor: pointer;
}

.gradient-blue {

	background: #074e68;
}

.gradient-light-blue {
	background: #074e68;
}

.gradient-green {
	background: rgb(180, 227, 145); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzYxYzQxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGUzOTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(180, 227, 145, 1) 0%,
		rgba(97, 196, 25, 1) 50%, rgba(180, 227, 145, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(180,
		227, 145, 1)), color-stop(50%, rgba(97, 196, 25, 1)),
		color-stop(100%, rgba(180, 227, 145, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(180, 227, 145, 1) 0%,
		rgba(97, 196, 25, 1) 50%, rgba(180, 227, 145, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(180, 227, 145, 1) 0%,
		rgba(97, 196, 25, 1) 50%, rgba(180, 227, 145, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(180, 227, 145, 1) 0%,
		rgba(97, 196, 25, 1) 50%, rgba(180, 227, 145, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(180, 227, 145, 1) 0%,
		rgba(97, 196, 25, 1) 50%, rgba(180, 227, 145, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391',
		endColorstr='#b4e391', GradientType=0); /* IE6-8 */
}
.content-title{
	background-color:#c81b5d;	
	height: 45px;
	line-height: 46px;
	color: white;
	font-weight: bold;
}
.tpad15p{
	padding-top:15%;
}
.tpad10p{
	padding-top:10%;
}
.tpad5p{
	padding-top:5%;
}
.tpad20p{
	padding-top:20%;
}
.tpad15p{
	padding-top:15%;
}
.bred{
	background: red;	
}

.accordion a{
	padding: 5px!important;
	padding-left: 15px!important;
}
.rpad5p {
    padding-right : 5%;
}
.lpad5p {
    padding-left : 5%;
}

.bulletStyle {
	background-image: url(../../../Media/eng/images/Untitled.jpg);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 3px 0 3px 40px;
	margin: .4em 0;
}

.subBulletStyle {
	background-image: url(../../../Media/eng/images/Untitled1.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 3px 0 3px 40px;
	margin: .4em 0;
}

.iconlist {
	list-style: none;
	margin-left: 10px;
	padding: 0;
}
.completed img{
	height: 20px;
	width: 20px;
}

.disableNavigation{
	opacity:0.5;
}

.asses-result{
	padding-top: 25%;
	padding-left: 40%;
}

.menu-container .completed{
	display : none;
}
.menu-container .completed.show{
	display : inline!important;
}