.course-header {
	text-transform: uppercase;
	line-height: 50px;
	color: white;
	height: 42px;
	font-weight: bold;
}
.question-logo{
	font-size: 50px;
}
.question-area{
	background-color:#e70b65;
	color:#fff;
}
.nav-button{
	float:right;
}

.question-options{
	padding-top: 0px!important; 
	border: 1px solid; 
	padding-left: 10px;
}

.question-submit-button{
	text-align: right;
	padding-right: 10px;
}

.question-instruction-text{
	padding-top: 10px;
	padding-bottom: 10px;
}

.question-body{
	background-color: #e70b65;
	color: #fff; 
	padding: 10px;
}

#prev{
	padding-left: 0;
}

.top200px{
	/* margin-top: 200px; */
}

#next{
	padding-right: 0;
}

.course-header>div {
	float: left;
	display: block;
}

.course-title {
	/* padding-left: 15px; */
}

.course-logo {
	padding-right: 15px;
}
.intruction-div{
	color: #2B1F09;
	background-color: red;
	position: absolute;
	right: 0%;
	bottom: 0%;
	left: 0%
}

.course-close {
	padding-left: 15px;
	padding-right: 15px;
}

.footer-menu {
	padding-top: 15px;
	text-align: center;
}

.footer-menu a {
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}

.dummy-row {
	background: #074e68;;
	height: 6px;
}



.template-container {
	min-height: 600px;
	border-left: solid 1px;
	border-right: solid 1px;
	color: rgb(0, 116, 145);
}

.pagination {
	font-weight: bold;
	float: right;
}

.pagination-pad {
	padding-top: 4px;
}

.adjust-center {
	
}

.menu-panel {
	display: none;
}

.breadcrumbs {
	margin: 0px !important;
	border: 0px !important;
	border-radius: 0px;
	padding: 4px !important;
	padding-left: 20px !important;
	font-weight: bold;
}

.breadcrumbs span {
	color: inherit!important;
	font-size: 14px;
	text-transform: none;
}

.breadcrumbs>*:before {
	content: '>>';
	color: inherit!important;
	font-size: 14px
}

.accordion li{
	cursor: pointer;
}

.gradient-blue {

	background: #074e68;
}

.gradient-light-blue {
	background: #074e68;
}

.gradient-green {
	background: rgb(180, 227, 145); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzYxYzQxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGUzOTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(180, 227, 145, 1) 0%,
		rgba(97, 196, 25, 1) 50%, rgba(180, 227, 145, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(180,
		227, 145, 1)), color-stop(50%, rgba(97, 196, 25, 1)),
		color-stop(100%, rgba(180, 227, 145, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(180, 227, 145, 1) 0%,
		rgba(97, 196, 25, 1) 50%, rgba(180, 227, 145, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(180, 227, 145, 1) 0%,
		rgba(97, 196, 25, 1) 50%, rgba(180, 227, 145, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(180, 227, 145, 1) 0%,
		rgba(97, 196, 25, 1) 50%, rgba(180, 227, 145, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(180, 227, 145, 1) 0%,
		rgba(97, 196, 25, 1) 50%, rgba(180, 227, 145, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391',
		endColorstr='#b4e391', GradientType=0); /* IE6-8 */
}
.content-title{
	background-color:#c81b5d;	
	height: 45px;
	line-height: 46px;
	color: white;
	font-weight: bold;
}
.tpad15p{
	padding-top:15%;
}
.tpad10p{
	padding-top:10%;
}
.tpad5p{
	padding-top:5%;
}
.tpad20p{
	padding-top:20%;
}
.tpad15p{
	padding-top:15%;
}
.rpad10px{
	padding-right:10px;
}
.bred{
	border:2px solid red;	
}
.bgreen{
	border:2px solid green;	
}
.byel{
	border:2px solid yellow;	
}

.accordion a{
	padding: 5px!important;
	padding-left: 15px!important;
}
.rpad5p {
    padding-right : 5%;
}
.lpad5p {
    padding-left : 5%;
}

.lpad15p {
    padding-left : 15%;
}

.bpad10p{
	padding-bottom: 10%;
}

.bpad5p{
	padding-bottom: 10%;
}

.bulletStyle {
	background-image: url(../../../Media/eng/images/Untitled.jpg);
	background-repeat: no-repeat;
	background-position: 0 8px;
	padding: 3px 0 3px 40px;
	margin: .4em 0;
}

.subBulletStyle {
	background-image: url(../../../Media/eng/images/Untitled1.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 3px 0 3px 40px;
	margin: .4em 0;
}

.iconlist {
	list-style: none;
	margin-left: 10px;
	padding: 0;
	margin-bottom: 0;
}
.completed img{
	height: 20px;
	width: 20px;
}

.disableNavigation{
	opacity:0.5;
}

.asses-result{
	padding-top: 25%;
	padding-left: 40%;
}

.menu-container .completed{
	display : none;
}
.menu-container .completed.show{
	display : inline!important;
}
.arrow_box {
	position: relative;
	background: #fff;
	border: 2px solid #d9d9d9;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 20px;
	margin-left: -20px;
}
.arrow_box:before {
	border-color: rgba(217, 217, 217, 0);
	border-top-color: #d9d9d9;
	border-width: 23px;
	margin-left: -23px;
}
.label-container .letter{
	float:left;
	padding-left: 20px;
	cursor: pointer;
}

.label-container{
	
	padding-left: 50px;
	margin-top: 20px!important;
	border-top: solid 1px;
	border-bottom: solid 1px;
}	

.glossary-data-container{
	margin-top:40px!important;
}

.desc-container{
	border-left: 1px solid!important;
}

.words-conatiner{
	padding-left:80px; 
}

.words-conatiner .word{
	margin-bottom: 10px !important; 
}

.help-container{
	/* margin-left:50px!important; */
}

.help-container .help-image{
	padding-bottom: 10px;
}

.image-border{
	border : 2px solid pink;
}

.content-background{
	background: #ebebeb;
}

.content-title{
	min-height: 44px;
	line-height: 44px;
}

.margin-top-2{
	margin-top:2%;
}

.left-text-border{
	padding: 10px;
	border: 1px solid #ccc
}

.selectable-panels{
	height: 100%;
	background-color: #c81b5d
}

.close-btn{
	min-height: 20px;
	min-width: 20px;
}

.imgicon{
	cursor: pointer;
}

.question-options input{
	margin-bottom:0!important;
}

.question-option{
	margin-bottom:10px;
	height: 100%;
	overflow: hidden;
}

.question-option>div{
	float:left
}


#prev,#next{
	z-index:1000;
	position: absolute;
	top: 50%;
}

#prev{
	left:0;
}
#next{
	right:0;
}


.help-container img{
		min-width:20px;
}
.left-content{
	padding-left :0px;
}

.right-content{
	padding-right:0px;
}



@media only screen and (max-width:40.063em) {

	.left-content{
		padding-right: 0px;
		margin-bottom : 10px;
	}
	
	.right-content{
		padding-right:0px;
		padding-left: 0px;
	}
	
	.course-title{
		font-size: 9px;
	}
	
	.footer-menu{
		position:fixed;
		bottom : 0;
		width:100%!important;
		font-size: 9px;
	}
	
	.footer-menu a{
		font-size: 9px;
	}
	
	.bottom-space{
		margin-bottom: 10px;	
	}
	
	.adjust-center{
		padding-left: 11%;
	}
	
	
}


@media only screen and (max-width:64.063em){
	#prev,#next{
		position: fixed;
	}
}

@media only screen and (min-width:24.063em){
	.footer-menu a{
		font-size: 13px;
	}
	
	.pagination {
		font-weight: bold;
		float: right;
		font-size: 13px;
	}
	
}

@media only screen and (min-width:40.063em){
	.right-margin-zero{
		margin-right:0!important;
	}
}
